-var icons=["https://img.icons8.com/flat_round/64/000000/plus.png"]

mixin shopp()
	.shop
		//- .cantidad
		//- 	h2="Cantidad"
		.descripcion
			h2="Descripcion"
			.details
		.total
			h2="Precio"
			.details
	.totalPagar
		h2="Total a Pagar"

mixin carousel(titulo,precio, linkImagen)
	.carousel__item
		img(src=""+linkImagen, alt="").carousel-item__img
		.carousel-item__details
			div
				img(src="")
				img(src="")
			p.carousel-item__details--title=titulo
			p.carousel-item__details--subtitle=precio
