-var icons=["https://img.icons8.com/flat_round/64/000000/plus.png"]

mixin buy(cantidad,total,linkImage)
	.buy
		.biography__video--desciption
			h2=title
			p=paragraph
			a(href="")
				p=link
			img(src="", alt="")
		.biography__video--image
			img(src=""+linkImage)

mixin carousel(titulo,precio, linkImagen)
	.carousel__item
		//- .carousel-item__img.fadeIn 
		img(src=""+linkImagen, alt="").carousel-item__img
		.carousel-item__details
			div
				img(src="", alt="")
			p.carousel-item__details--title=titulo
			p.carousel-item__details--subtitle=precio
